@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var rule = "Should";
    <p>We @rule follow Traffics rules </p>
    <hr>
}
@{
    string[] persons = {"Jani", "Shreya", "Rupali", "Tejas" };
}
<!--For loop-->
@for(var name=0;name<persons.Length;name++)
{
    var people = persons[name];
    <br/>
    <text>person =@people</text>
    <hr>
}

@{
    var num=8;
}
@if(num%2==0)
{
    <text>The number is even</text>
    <hr>
}
else
{
    <text>The number is Odd</text>
    <hr>
}

@{
    var Username = "admin";
    var password = 12345;
}
@if(Username=="admin" && password==12345)
{
    <p>Login Successfully</p><hr>
}
else
{
    <p>Invalid Username and Password</p><hr>
}
<!--if else-->
@{
    var age = 21;
}
@if(age>=25)
{
    <p>Shreya is eligible to game</p><hr>
}
else
{
    <p>Shreya is not Eligible to play Games</p>
    <hr>
}
@{
    var per = 67;
}
@if(per>=75)
{
    <p>Percentage=@per <br/> Pass with Distinction</p><hr>
}
else if(per<75 && per>50)
{
    <p>Percentage=@per <br /> Pass with First class</p>
    <hr>
}
else
{
    <p>Percentage=@per <br /> You heve fail exam</p>
    <hr>
}
<!--Swithch case-->
@{
    var Days = 5;
}
@switch(Days)
{
    case 1:
        <p>Monday</p>
        break;
    case 2:
        <p>Tuesday</p>
        break;
    case 3:
        <p>Wednesday</p>
        break;
    case 4:
        <p>Thursday</p>
        break;
    case 5:
        <p>Friday</p>
        break;
    case 6:
        <p>Saturday</p>
        break;
}




