@{
    ViewData["Title"] = "Home Page";
}
<style>
    .main
    {
        background-image:url('Flowerimage.jpg');
        width:100%;
        height:100%;
    }
</style>
<div class="main">
    <p style="padding: 17em; color:white;font-weight:200;">Fresh Roses</p>
</div>

    <div class="column"style="width:100%;">
    <div style="background-color:#8d7acb; width:20%;float:left;">
                <h3 style="color:aliceblue">Free Shipping</h3>
                <h4>GET A FREE DELIVERY ON ORDERS OF $200</h4>
            </div>

    <div style="background-color:rgb(202,248,128) 0%,; width:20%;float:left;">
                <h3 style="color:aliceblue;">price guarantee</h3>
                <h4>WE GUARANTEE THE BEST PRICE</h4>
            </div>

             <div style="background-color:darkorchid; width:20%;float:left;">
                  <h3 style="color:aliceblue">free support</h3>
                  <h4>MON-SAT: 9 AM – 6 PM, SUNDAY: 9 AM – 4 PM</h4>
             </div>
    </div>
    
    
       
   

