<form action="Form1" method="post">
    <table>
        <tr>
            <td>Roll.no :</td>
            <td><input type="text" name="rollno"></td>
        </tr>
        <tr>
            <td>Name :</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>Subject :</td>
            <td><input type="text" name="subject"></td>
        </tr>
        <tr>
            <td>
               <input type="submit" value="Submit"/>
            </td>
        </tr>

    </table>

 </form>
Name=@ViewBag.Name<br/>
Roll.No=@ViewBag.Rollno<br/>
Subject=@ViewBag.Subject
