@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    //Customer

    <p></p>
    int customerid = 8;
    double mno = 1231344;
    string address2 = "Agni";
    int productid = 5;
    int productprice = 9000;

    

}
