@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


    //Employee

    string Ename = "Mahima Barde";
    int Eid = 101;
    String address = "Nagpur";
    int Salary = 70000;
    <p>Employee Name=@Ename</p>
    <p>Employee Id=@Eid</p>
    <p>Address=@address</p>
    <p>Salary=@Salary</p>
    <hr>
    var Einfo = new Employee("Rahul Kumar Varma", 102, "Madyapradesh", 50000);
    <p>Employee Name=@Einfo.employeename</p>
    <p>Employee Id=@Einfo.employeeid</p>
    <p>Address=@Einfo.address</p>
    <p>Salary=@Einfo.ESalary</p>



}
